{
    email {$ACME_EMAIL}
}

{$DOMAIN} {
    encode zstd gzip

    @realtime path /foresight/*
    reverse_proxy @realtime realtime:22006
    reverse_proxy web:3000

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
        -Server
    }

    log {
        output stdout
        format console
    }
}
